/*buatngakalinposisi*/

html{
	position: relative;
}

body {
	margin-bottom: 120px;
	background-color:black;
	

}
/*buatngakalinposisi*/

.jumbotron {
	height: 350px;
	background-image: url(bayi.jpg); 
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	overflow: hidden;
	
}



.jumbotron img {
	width: 150px;
	border: 5px solid lightgrey;
	margin-top: 20px;
}

 hr{
 	
	width: 250px;
	border-top: 10px solid black;
}

section{
	min-height: 600px;
}

.pKiri, .pKanan {
	opacity: 0;
	transform: translate(-50px,0);
	transition: 1s;
}

.pKanan{
	transform: translate(50px, 0);
}
.pKiri.pMuncul, .pKanan.pMuncul {
	opacity: 1;
	transform: translate(0,0);
}

.porfolio {
	background-color: #eee;

}

.portfolio .thumbnail{
	opacity: 0;
	transform: translate(0, -40px);
	transition: 0.5s; 
}

.portfolio .thumbnail.muncul{
	opacity: 1;
	transform: translate(0,0);
}



.button1 {
	border-radius: 5px;
	font-size: 1rem;
	padding: 7px 15px;
	font-weight: bold;

}

.button1 {
	-moz-box-shadow: inset 0 1px 0 0 #4d73bf;
	-webkit-box-shadow :inset 0 1px 0 0 #4d73bf;
	box-shadow: inset 0 1px 0 0 #4d73bf;
	background: #4267b2;
	border:1px solid #4267b2;
	color: white;
	text-shadow: 0 1px 0 #3359a5;
}

.button1:hover {
	background: #2b54a7;
}

.button1:active {
	background: black;
	border-color:blue;
}


.contact {
	min-height: 800px;
}


footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: #333;
	
}

footer p {
	color: white;
	font-size: 1em;
	padding-top: 47px;
}

footer p i {
	color: salmon;
}