/* navbar */
.navbar{
	position: relative;
	z-index: 1;
}
.navbar-brand{
	font-family: viga;
	font-size: 32px;
}


/* utility */
.tombol{
	text-transform: uppercase;
	border-radius: 40px;
}

/* jumbvtorn */

.jumbotron{
	background-image: url(img/jumbotron-bg.jpg);
	background-size: cover;
	height: 540px;
	text-align: center;
	position: relative;
	
}

.jumbotron .container{
	z-index: 1;
	position: relative;
}

.jumbotron::after{
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	position:absolute;
	bottom: 0;
}


.jumbotron .display-4{
	color: white;
	text-align: center;
	margin-top: 150px;
	font-weight: 200;
	font-size: 40px;
	margin-bottom: 30px; 
}

.jumbotron .display-4 span{
	font-weight: 500;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
}

/* info panel */
.info-panel {
	box-shadow: 0  3px 20px rgba(0,0,0, 0.5);
	border-radius: 12px;
	margin-top: -100px;
	background-color: white;
	padding: 30px;
}

.info-panel img {
	margin-right: 20px;
	margin-bottom: 20px;
	width: 80px;
	height: 80px;
}

.info-panel h4{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 7px;

}

.info-panel p{
	font-size: 14px;
	color: #acacac;
	margin-top: -5px;
}

/* workingspace */
.workingspace{
	margin-top: 120px;
	text-align: center;
}

.workingspace h3{
	font-size: 52px;
	font-weight: 200;
	text-transform: uppercase;
	margin-top: 30px;
}

.workingspace h3 span{
	font-weight: 500;

}

.workingspace p{
	font-size: 19px;
	color: #acacac;
	font-weight: 200;
	margin:  30px 0;
}

/* testimonial */
.testimonial {
	margin-top: 100px;
}

.testimonial h5{
	text-align: center;
	font-weight: 200;
	font-style: italic;
	font-size: 24px;
}

.testimonial figure img{
	width: 60px;
	margin: 20px 15px 10px;
	opacity: 0.6;

}

.testimonial figure img.utama{
	width: 90px;
	opacity: 1;
	margin-top: 5px;
} 

.testimonial figure h5{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #1c2c5d;
}

.testimonial figure p{
	font-size:12px ;
	color: #acacac;
	margin-top: -5px !important;
}
.testimonial .figure-caption{
	text-align: center;
}

/* footer */
.footer p{
	color: #acacac;
	font-size: 18px;
	margin-top: 100px;
}


/* desktop version */
@media (min-width: 992px) {
	.navbar-brand, .nav-link{
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}
	.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid #0b63dc;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;		
		
	}
	
	.jumbotron{
		margin-top: -75px;
		height: 640px;
	}
	.jumbotron .display-4 {
		font-size: 62px;
	}

	.workingspace{
		text-align: left;
	}

	.testimonial h5{
		font-size: 32px;
	}
}