.parallax-container{
	height: 18%;
}

.parallax img{
	filter: grayscale(1);
	opacity: 0.5  !important;
}
.Clients img{
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section,footer{
	padding: 15px 0;
}